
/* Aluno Denerson Silva*/

#logo{
   width: 100%;
}

.borda {
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #000;
}

.quadro {
    width: 300px;
    height: 150px;
    color: #FFF;
    padding: 20px;
    border: 5px solid #CCC;
}

.nao-quebra-linha {
    border: solid 1px #ccc;
    color: rgb(95, 97, 93) ;
    padding: 25px;
    width: 300px;
    white-space: nowrap;
}

input{
    color: rgb(90, 131, 21);
    font-size: 17px;
    padding: 12px;
    font-weight: bold;
  }

  body {
      background-color: rgba(179, 179, 179, 0.5);
  }

.resposta {

    font-size: 16px;
    font-weight: bold;
    color:grey;
}


.enviar {

    width: 40%;
    padding: 15px 0;
    background: green;
    color:white;
    font-weight: bold;
    font-size: 18px;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
}